
body {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
}

/* fazer ele rolar para baixo devagar*/ 
html{ scroll-behavior: smooth;}
/* COMEÇO DA HEADER */

.header {
    width: 100vw;
    height: 12vh;
    background-color: black;
    display: flex;
    align-items: center;
    border-bottom: 0.4vh solid #ffffff;
    
}


.container {
    width: 85%;
    display: flex;
   
 }

 .div_logohog {
     width: 50vw;
     height: 11vh;
     margin-left: 1vw;
   
 }

 .div_logohog .img1 {
     width: 15vw;
     height: 11vh;   
 }

 .header .container {
     justify-content: center;
     align-items: center ;
     height: 100vh;
 }

 .navbar {
     color: #a0a0a0;
     list-style: none;
     width: 80vw;
     height: 50vh;
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     letter-spacing: 0.02vw;
     font-size: 2vh;
     margin-left: 5vw;
    
}   

/* aquela linha debaixo do menu quando passamos o mouse */

.teamfight::after {
    content: "";
    position: absolute;
    background-color: #e6e6e6;
    height: 0.2vh;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    
}

.homesimulador:hover {
    color: white;
}

.teamfight:hover::after {
    width: 100%;
}

.refcontato::after {
    content: "";
    position: absolute;
    background-color: #e6e6e6;
    height: 0.2vh;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.refcontato:hover {
    color: white;
}

.refcontato:hover::after {
    width: 100%;
}

.refhome1::after {
    content: "";
    position: absolute;
    background-color: #e6e6e6;
    height: 0.2vh;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.refhome1:hover {
    color: white;
}

.refhome1:hover::after {
    width: 100%;
}

.refsobrenos::after {
    content: "";
    position: absolute;
    background-color: #e6e6e6;
    height: 0.2vh;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

/* para ele iluminar quando passa o mouse */

.refsobrenos:hover {
    color: white;
}
.refsobrenos:hover::after {
    width: 100%;
}



/* FIM da linha animada */

.navbar li {
     margin-right: 4vw;
     font-weight: bold;
}



.navbar .login {
    margin-right: 2vw;
    display: flex;
    align-items: center;
}

.navbar .login:hover {
    transform: scale(1.06);
    transition: 0.5s;
}

.login {
    width: 4vw;
    height: 6vh;
    display: flex;
    align-items: center;
    padding-left: 1.5vw;
    border: 0.4vh solid white;
    border-radius: 8vh;
    
}

.reflogin {
    color: white;
    text-decoration: none;
}

.reflogin:hover {
    transform: scale(1.06);
    transition: 0.5s;
}

.refcontato {
    color: #a0a0a0;
    text-decoration: none;
}

.refsobrenos {
    color: #a0a0a0;
    text-decoration: none;
}

.navbar .cadastro {
    display: flex;
    align-items: center;
}

.cadastro {
    width: 4vw;
    height: 6vh;
    display: flex;
    align-items: center;
    padding-left: 1.9vh;
    padding-right: 1.9vh;
    border: 0.4vh solid white;
    border-radius: 8vh;
    text-decoration: none;
    margin-right: 2vw;
}
.navbar .summoners:hover {
     transform: scale(1.06);
     transition: 0.5s;
}

.navbar .teamfight:hover {
    transform: scale(1.06);
    transition: 0.5s;
}

.navbar .competitivo:hover {
    transform: scale(1.06);
    transition: 0.5s;
}

.navbar .refhome1:hover {
    transform: scale(1.06);
    transition: 0.5s;
}
.navbar .cadastro:hover {
    transform: scale(1.06);
    transition: 0.5s;
}


.refcadastro {
    color: white;
    text-decoration: none;
}

.refhomeee {
    text-decoration: none;
}



.homesimulador {
    color: #a0a0a0;
    text-decoration: none;
}

/* PRIMEIRO FUNDO */

.fundo1 {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(fundo1-_video-converter.com_.gif);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    filter: blur(3px);
}
.back01 {
    border: #e6e6e6 solid 3vh;
    background-color: #e6e6e6;
    width: 65vw;
    height:60vh;
    z-index: 900;
    position: absolute;
    margin-top: 21vh;
    margin-left: 18vw;
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img2 {
    width: 25vw;
    height: 27vh;
    border-radius: 20vh;
}

.textobanner {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.btncadastro {
    text-decoration: none;
    color: white;
}


.button-51 {
  font-size: 2vh;
  font-weight: 200;
  letter-spacing: 0.2vh;
  padding: 1.3vh 2.0vw 2vh;
  outline: 0;
  border: 0.2vh solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-51:after {
  content: "";
  background-color: #6DCFF6;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 0.4vw;
  left: 0.5vw;
  transition: 0.2s;
}

.button-51:hover:after {
  top: 0vw;
  left: 0vw;
}


/* Fim do primeiro fundo */

/* COMEÇO SEGUNDO FUNDO */

.fundo2 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* div com borda animada */
.box1 {
    margin-top: 15vh;
    margin-left: 4vw;
    background-color: #e6e6e6;
    border-radius: 5vw;
    width: 80vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    box-shadow: inset 0 0 2em black;
}

.text1 {
    width: 70vw;
    height: 50vh;
    letter-spacing: 0.02vw;
}




/* TERCEIRO FUNDO */

.fundo3 {
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.part2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    width: 100vw;
    height: 60vh;
}

/* box rotativo 1 */
.box2 {
  position: relative;
  background-color: white;
  border-radius: 50%;
  width: 26vw;
  height: 55vh;
  overflow: hidden;
}

.box2::before {
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg, #6dcff6, #013453);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

.box2:hover::before {
    inset: -20px 0px;
}

@keyframes animate {
    0% 
    {
     transform: rotate(0deg);
    }
    100% 
    {
     transform: rotate(360deg);
    }
}

.box2::after {
    content: '';
    position: absolute;
    inset: 6px;
    background: white;
    border-radius: 50%;
    z-index: 1;
}

.content {
    position: absolute;
    inset: 30px;
    border: 6px solid black;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content .srimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none ;
}

.box2:hover .content .srimg {
    opacity: 0;
}

 .titulo3 {
    text-align: center;
    font-size: 25px;
    color: #ffffff;
    border-bottom: 0.1vh white solid;
}

.subtitulo3 {
    text-align: center;
    font-size: 10px;
    color: #ffffff;
}

.refbox1 {
    text-align: center;
    width: 6vw;
    height: 3vh ;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius:5%;
}

/* box rotativo 2 */

.box3 {
    position: relative;
    margin-left: 5vw;
    background-color: white;
    border-radius: 50%;
    width: 26vw;
    height: 55vh;
    overflow: hidden;
  }
  
  .box3::before {
      content: '';
      position: absolute;
      inset: -10px 140px;
      background: linear-gradient(315deg, #6dcff6, #013453);
      transition: 0.5s;
      animation: animate2 4s linear infinite;
  }
  
  .box3:hover::before {
      inset: -20px 0px;
  }
  
  @keyframes animate2 {
      0% 
      {
       transform: rotate(0deg);
      }
      100% 
      {
       transform: rotate(360deg);
      }
  }
  
  .box3::after {
      content: '';
      position: absolute;
      inset: 6px;
      background: white;
      border-radius: 50%;
      z-index: 1;
  }
  
  .content3 {
      position: absolute;
      inset: 30px;
      border: 6px solid black;
      z-index: 3;
      border-radius: 50%;
      overflow: hidden;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  
  .content3 .tftimg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.5s;
      pointer-events: none ;
  }
  
  .box3:hover .content3 .tftimg {
      opacity: 0;
  }
  
   .titulo4 {
      text-align: center;
      font-size: 25px;
      color: #ffffff;
      border-bottom: 0.1vh white solid;
  }
  
  .subtitulo4 {
      text-align: center;
      font-size: 10px;
      color: #ffffff;
  }
  
  .refbox2 {
      text-align: center;
      width: 6vw;
      height: 3vh ;
      text-decoration: none;
      color: rgb(0, 0, 0);
      background-color: white;
      border-radius:5%;
  }

  /* Box rotativo 4 */

  .box4 {
    position: relative;
    margin-left: 5vw;
    background-color: white;
    border-radius: 50%;
    width: 26vw;
    height: 55vh;
    overflow: hidden;
  }
  
  .box4::before {
      content: '';
      position: absolute;
      inset: -10px 140px;
      background: linear-gradient(315deg, #6dcff6, #013453);
      transition: 0.5s;
      animation: animate3 4s linear infinite;
  }
  
  .box4:hover::before {
      inset: -20px 0px;
  }
  
  @keyframes animate3 {
      0% 
      {
       transform: rotate(0deg);
      }
      100% 
      {
       transform: rotate(360deg);
      }
  }
  
  .box4::after {
      content: '';
      position: absolute;
      inset: 6px;
      background: white;
      border-radius: 50%;
      z-index: 1;
  }
  
  .content4 {
      position: absolute;
      inset: 30px;
      border: 6px solid black;
      z-index: 3;
      border-radius: 50%;
      overflow: hidden;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  
  .content4 .cblolimg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.5s;
      pointer-events: none ;
  }
  
  .box4:hover .content4 .cblolimg {
      opacity: 0;
  }
  
   .titulo5 {
      text-align: center;
      font-size: 25px;
      color: #ffffff;
      border-bottom: 0.1vh white solid;
  }
  
  .subtitulo5 {
      text-align: center;
      font-size: 10px;
      color: #ffffff;
  }
  
  .refbox3 {
      text-align: center;
      width: 6vw;
      height: 3vh ;
      text-decoration: none;
      color: rgb(0, 0, 0);
      background-color: white;
      border-radius:5%;
  }

  /* FOOTER */ 

  .footer {
      width: 100vw;
      height: 35vh;
      padding: 0;
      margin-top: 5vh;
      background-color:#e6e6e6;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .redessociais {
      width: 15vw;
      height: 7vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .insta {
      width: 20vh;
      height: 7vh;
      border-radius: 2vh;
  }