
body {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
}

/* fazer ele rolar para baixo devagar*/ 
html{ scroll-behavior: smooth;}
/* COMEÇO DA HEADER */

.header {
    width: 100vw;
    height: 12vh;
    background-color: black;
    display: flex;
    align-items: center;
    border-bottom: 0.4vh solid #ffffff;
    
}


.container {
    width: 85%;
    display: flex;
   
 }

 .div_logohog {
     width: 50vw;
     height: 11vh;
     margin-left: 1vw;
   
 }

 .div_logohog .img1 {
     width: 15vw;
     height: 11vh;   
 }

 .header .container {
     justify-content: center;
     align-items: center ;
     height: 100vh;
 }

 .navbar {
     color: #a0a0a0;
     list-style: none;
     width: 80vw;
     height: 50vh;
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     letter-spacing: 0.02vw;
     font-size: 2vh;
     margin-left: 5vw;
    
}   

/* aquela linha debaixo do menu quando passamos o mouse */

.teamfight::after {
    content: "";
    position: absolute;
    background-color: #e6e6e6;
    height: 0.2vh;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    
}

.homesimulador:hover {
    color: white;
}

.teamfight:hover::after {
    width: 100%;
}

.refcontato::after {
    content: "";
    position: absolute;
    background-color: #e6e6e6;
    height: 0.2vh;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.refcontato:hover {
    color: white;
}

.refcontato:hover::after {
    width: 100%;
}

.refhome1::after {
    content: "";
    position: absolute;
    background-color: #e6e6e6;
    height: 0.2vh;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}



.refhome1:hover::after {
    width: 100%;
}

.refhomeee:hover {
 color: white;
}

.refhomeee {
    text-decoration: none;
    color: #a0a0a0;
}

.refsobrenos::after {
    content: "";
    position: absolute;
    background-color: #e6e6e6;
    height: 0.2vh;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

/* para ele iluminar quando passa o mouse */

.refsobrenos:hover {
    color: white;
}
.refsobrenos:hover::after {
    width: 100%;
}



/* FIM da linha animada */

.navbar li {
     margin-right: 4vw;
     font-weight: bold;
}



.navbar .login {
    margin-right: 2vw;
    display: flex;
    align-items: center;
}

.navbar .login:hover {
    transform: scale(1.06);
    transition: 0.5s;
}

.login {
    width: 4vw;
    height: 6vh;
    display: flex;
    align-items: center;
    padding-left: 1.5vw;
    border: 0.4vh solid white;
    border-radius: 8vh;
    
}

.reflogin {
    color: white;
    text-decoration: none;
}

.reflogin:hover {
    transform: scale(1.06);
    transition: 0.5s;
}

.refcontato {
    color: #a0a0a0;
    text-decoration: none;
}

.refsobrenos {
    color: #a0a0a0;
    text-decoration: none;
}

.navbar .cadastro {
    display: flex;
    align-items: center;
}

.cadastro {
    width: 4vw;
    height: 6vh;
    display: flex;
    align-items: center;
    padding-left: 1.9vh;
    padding-right: 1.9vh;
    border: 0.4vh solid white;
    border-radius: 8vh;
    text-decoration: none;
    margin-right: 2vw;
}
.navbar .summoners:hover {
     transform: scale(1.06);
     transition: 0.5s;
}

.navbar .teamfight:hover {
    transform: scale(1.06);
    transition: 0.5s;
}

.navbar .competitivo:hover {
    transform: scale(1.06);
    transition: 0.5s;
}

.navbar .refhome1:hover {
    transform: scale(1.06);
    transition: 0.5s;
}
.navbar .cadastro:hover {
    transform: scale(1.06);
    transition: 0.5s;
}


.refcadastro {
    color: white;
    text-decoration: none;
}



.homesimulador {
    color: #a0a0a0;
    text-decoration: none;
}

/* PRIMEIRO FUNDO */

.fundo1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(fundo1-_video-converter.com_.gif);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    filter: blur(3px);
}
.back01 {
    border: #e6e6e6 solid 3vh;
    background-color: #e6e6e6;
    width: 65vw;
    height:80vh;
    z-index: 900;
    position: absolute;
    margin-top: 8vh;
    margin-left: 18vw;
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img2 {
    width: 25vw;
    height: 20vh;
    border-radius: 5vh;
}

.formulario {
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.button-51 {
  font-size: 2vh;
  font-weight: 200;
  letter-spacing: 0.2vh;
  padding: 1.3vh 2.0vw 2vh;
  outline: 0;
  border: 0.2vh solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-51:after {
  content: "";
  background-color: #6DCFF6;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 0.4vw;
  left: 0.5vw;
  transition: 0.2s;
}

.button-51:hover:after {
  top: 0vw;
  left: 0vw;
}

.caixa {
   border-radius: 10px;
}

/* Fim do primeiro fundo */