body {
    margin: 0;
    font-family: monospace;
   overflow-x: hidden;
}

/* fazer ele rolar para baixo devagar*/ 
html{ scroll-behavior: smooth;}
/* COMEÇO DA HEADER */

.header {
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.espacamento {     /* coloquei essa div para a header fixa não "comer" a debaixo, assim criando uma div "fantasma" */
    width: 100%;   /* que empurra a debaixo, fazendo ficar certinho, outra opção era colocar margintop na div debaixo */           
    height: 100px;
    background-color: #497320;
}

.container {
    width: 85%;
    display: flex;
   
 }

 .div_logohog {
     width: 90px;
     height: 80px;
     margin-left: 10px;
   
 }

 .div_logohog .img1 {
     width: 100%;
     height: 100%;
 }

 .titulo {
    color: white;
    margin-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
    
}

 .header .container {
     justify-content: center;
     align-items: center ;
     height: 100%;
 }

 .navbar {
     color: white;
     list-style: none;
     width: 900px;
     height: 50px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-family: monospace;
     font-size: 15px;
     margin-left: 360px;
 
}

.navbar li {
     margin-right: 40px;
     font-weight: bold;
    
}

.navbar .login {
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.login {
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border: 3px solid white;
    border-radius: 8px;
    
}

.reflogin {
    color: white;
    text-decoration: none;
}

.refcontato {
    color: white;
    text-decoration: none;
}

.refsobrenos {
    color: white;
    text-decoration: none;
}

.navbar .cadastro {
    display: flex;
    align-items: center;
}

.cadastro {
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid white;
    border-radius: 8px;
    text-decoration: none;
    margin-right: 6px;
}

.refcadastro {
    color: white;
    text-decoration: none;
}

.homesimulador {
    color: white;
    text-decoration: none;
    
}

/* PRIMEIRO FUNDO */

.slider{
    height: 90vh;
    width: 100vw;
    overflow: hidden;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
    
}
.slides input{
    display: none;
}

.slide{
    width: 100vw;
    height: 90vh;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: 100%;
}

.manual-navigation{
    position: relative;
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #ffffff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 100%;
    margin-top: 550px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #ffffff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #ffffff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #ffffff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #ffffff;
}

/* Fim slider */


/* SEGUNDO FUNDO */

.second {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

